*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 50px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1516557070061-c3d1653fa646?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2t8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
    background: url('https://images.unsplash.com/photo-1498721425774-488298864da7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8&auto=format&fit=crop&w=600&q=60');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.5em;
}
.banner h3{
    color: rgb(255, 208, 0);
}
.banner h2 span{
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.click{
    position: relative;
    background: rgb(250, 184, 2);
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    margin-top:20px;
    font-size: 18px;
    text-decoration: none;
}
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}

header.sticky {
    background: #fff;
    padding:20px 100px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
header .logo
{
    color:#fff;
    font-size: 28px;
    text-decoration: none;
}
header.sticky .logo{
    color: black;
}
header ul{
    position: relative;
    display: flex
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    list-style: none;
    text-decoration:none;
    font-size: larger;
    font-weight: 500;
}
header.sticky ul li a{
    color: #111;
}
.heading {
    width: 100%;
    text-align: center;
    /* margin-bottom: 30px; */
    color: #111;
    padding: 20px;
}
.about{
    background-color:#fff;
    padding-left: 20%;
    padding-right: 20%;

}
.content {
    display: flex;
    justify-content: space-between;
}
.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.contentBx p{
color: rgb(94, 94, 93);
padding-left: 50px;
}
.projects{
    background: rgb(179, 179, 174);
}
/* 
.projectcards{
    display: flex;
    flex-direction: row;
} */

.contact {
    background: #111;
}
.contactcontent{
    display: flex;
    justify-content: space-between;
}
.formBx{
    min-width: 60%;
}
.formBx form {
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    background: transparent;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formBx form textarea{
    min-height: 200px;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: rgb(250, 184, 2);
    cursor: pointer;   
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBx{
    position: relative;
}
.contactInfoBx .box {
    position: relative;
    padding:20px 0;
    display: flex;
}
.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300px;
}
@media (max-width:991px)
{
    header,
    header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position:fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        background: #fff;
        z-index:999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 20px;
        margin:10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        /* background: url('https://image.flaticon.com/icons/png/512/7/7655.png'); */
        /* background: url('http://assets.stickpng.com/thumbs/588a64d2d06f6719692a2d0e.png'); */
        background:url('https://www.searchpng.com/wp-content/uploads/2019/02/Menu-Icon-PNG-715x735.png');
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        /* background:url('https://image.flaticon.com/icons/png/512/106/106830.png'); */
        background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/1200px-Flat_cross_icon.svg.png');
        background-position:center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section {
        padding: 100px 50px;
    }
    .banner {
        padding: 150px 50px 100px;
        background: #111;
        /* position: relative; */
        /* background: #111; */
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .content{
        flex-direction: column;
    }
    .content p{
        padding-left: 20px;
    }
    .w50{
        margin-bottom: 20px;
        min-width: 50%;

    }
    .contactcontent{
        flex-direction: column;
    }
    .img{
        text-align: center;
        padding-left: 90px;
    }
}
